* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    position: relative;
    /* left: 120px;
    top: 200px; */
    width: 30px;
    height: 100px;
    border: 1px solid black;
    border-bottom: 50px solid black;
    transition: .4s;
}

.block2 {   
    /* left: 120px;
    top: 200px; */
    position: absolute;
    width: 28px;
    height: 10px;
    border-bottom: 4px solid red;
    bottom: 0;
}